@import url('https://fonts.cdnfonts.com/css/canavar');


#bg-img {
    background-image: url('https://images.unsplash.com/photo-1579952363873-27f3bade9f55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}

.sports-font {
    font-family: 'CANAVAR', sans-serif;
    color: rgba(255,255,255, 1);
                                                
}

.background-orange {
    /* background-color: #f03708 ; */
    background: rgba(240, 55, 8, 0.8) 
    
}



.tutorial {
    border: 5px solid white;
    color: white;
    /* background: rgba(73, 188,227, 0.8); */
    /* background: rgba(86, 9,44, 0.8); */
    background: rgba(240, 55, 8, 0.8);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
    
}

.start-button {
    padding-bottom: 9%;
}

.modal-card-head {
    background-color: #49bce3;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.modal-card-body {
    background-color: #fec30f;
}

.modal-card-foot {
    background-color: #56062c;
}



.modal-background {
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1616514169928-a1e40c6f791c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

.container-fluid {
    border: 2px solid red;
    height: 100vh;
    z-index: 1;
}

header {
    border: 5px solid white;
    margin-bottom: 5px;
    /* background-color: #f03708;
    opacity:80%; */
    /* opacity: 80%; */
}

.section-intro {
    border: 5px solid white;
    margin: 2%;
    margin-top: 15vh;
}

.dropdown {
    border: 2px solid brown;
    margin: 2%;
}

.sectionIntro {
    border: 2px solid orange;
}

.sectionTeam {
    border: 2px solid pink;
}

.sectionFoodDrink {
    border: 2px solid blueviolet;
}